{% load static %} 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>

    </head>
    <body>
     
  <div class="main-cards">
  <div class="cards">
    <p class="icons"><i class="fa-solid fa-square-check"></i></p>

    <h3>On Time</h3>
    <p class="text-card">At vero eos et accusamus et iusto odio </p>

    <button class="download-btns">Learn More</button>
  </div>

<div class="cards">
    <p class="icons"><i class="fa-solid fa-square-check"></i></p>

    <h3>On Time</h3>
    <p class="text-card"> At vero eos et accusamus et iusto odio</p>

    <button class="download-btns">Learn More</button>
  </div>

  <div class="cards">
    <p class="icons"><i class="fa-solid fa-square-check"></i></p>

    <h3>On Time</h3>
    <p class="text-card">At vero eos et accusamus et iusto odio</p>

    <button class="download-btns">Learn More</button>
  </div>
</div>


<section>
        <div class="res-img">
        <div class="portfolio-section">
            <h2 id="portfolio">MY PORTFOLIO</h2>
            <p>WEB & APP</p>
        </div>

<div class="">
    <div class="contain container">
    
<img src="{%static "images/im1.jpg" %}" alt="images" class="img">         
<img src="{%static "images/im2.jpg" %}" alt="images" class="img">         
<img src="{%static "images/im3.jpg" %}" alt="images" class="img">
    </div>
    </div>
<div class="text-img container" >
    <div  class="text-col">
     <h3>PORTFOLIO</h3>   
    <p> 
        "Sed ut perspiciatis unde omnis iste natus error sit,totam rem aperiam, eaque ipsa quae?"</p>
        </div>
<img src="{%static "images/im4.jpg" %}" alt="images" class="imgs">
</div>
   <div class="contains "> 
        
<img src="{%static "images/im5.jpg" %}" alt="images" class="imges">
         
<img src="{%static "images/im6.jpg" %}" alt="images" class="imges">
      
<img src="{%static "images/imm.jpg" %}" alt="images" class="imges">
</div>
</div>
     </section>

    </body>
</html>